@use "../color" as *;

.services{
    background: $light-bg;
    .container{
        @include grid(35rem);
        .box{
            text-align: center;
            padding: 2rem;
            border: $border;
            border-radius:  0.5rem;
            background: $white;
            &:hover{
                background: $black;
                p{
                    color: $white;
                }
                h3{
                    color: $white;
                }
                button{
                    border: 1px solid $white;
                    color: $white;  
                    &:hover{
                        background:$white;
                        color: $black;
                    }
                }
            }
            .images{
                height: 25rem;
                overflow: hidden;
                padding-bottom: 0;
                border-radius: 0.5rem;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit:fill;
                    border-radius: 0.5rem;
                }
            }
            .title{
                font-size: 2rem;
                padding: 1rem 0;
                color: $black;
                font-weight: bold;
            }
            h3{
                padding-top: 1rem;
                font-size: 2rem;
                color: $green;
                font-weight: bold;
            }
            .price{
                padding-bottom: 1rem;
                font-size: 2rem;
                font-weight: bold;
            }
            button{
                padding: 1rem 1.5rem;
                border: 1px solid $green;
                outline: none;
                background: none;
                color: $green;
                font-weight: bold   ;
            }
        }
    }
}