@use "../color" as *;

.footer{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../Images/beach.jpg) no-repeat;
    background-size:contain;
    background-position: center;
    .container{
        @include grid(25rem);
        .box{
            h3{
                font-size: 2rem;
                color: $white;
            }
            a{
                display: flex;
                font-size: 1.4rem;
                color: $white;
                padding: 1rem 0;
                i{
                    color: $green;
                    padding-right: 0.5rem;
                }
                &:hover{
                    cursor: pointer;
                    color: $green;
                    i{
                        padding-right: 2rem;
                    }
                }
            }
        }
    }
    .credit{
        text-align: center;
        margin-top: 2.5rem;
        padding: 1rem;
        padding-top: 2.5rem;
        font-size: 2rem;
        color: $white;
        span{
            color: $green;
        }
    }
}