/* .navbar{
    background:linear-gradient(90deg,rgb(28,27,27) 0%, rgb(26,23,23) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.navbar_logo a{
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.fa-firstdraft{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}
.nav_menu{
    display: grid;
    grid-template-columns:repeat(5,auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    width: 78vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav_item a{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
}
.nav_item a:hover{
    background-color: #1888ff;
    border-radius: 4px;
    }
.fa-bars{
    color: #fff;
}
.nav_links_mobile{
    display: none;
}
.hamburger_icon{
    display: none;
}
@media screen and (max-width:690px) {
    .navBarItems {
        position: relative;
    }
    .nav_menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav_menu.active{
        background-color: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav_item a{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav_item a:hover{
        background-color: #1888ff;
        border-radius: 0;
    }
    .navbar_logo a{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25% 50%);
    }
    .hamburger_icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate( -100% 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times{
        color: #fff;
        font-size: 2rem;
    }
    .nav_links_mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background-color: #1888ff;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        transition: 250ms;
    }
    .nav_links_mobile:hover{
        background-color: #fff;
        color: #1888ff;
    }
    button{
        display: none;
    }
} */